/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-cont {
  background-color: #ffffff;
  width: 80%;
  padding: 40px;
  border-radius: 10px;
}
.form-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.appoinment_image {
  height: 250px;
  width: 300px;
}
.add-btn {
  margin-top: 20px;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #8b5cf6;
}
